@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    width: 100%;
    height: auto;
    background-color: white;
    justify-content: center;
    display: flex;
    font-family: "Kanit", sans-serif;
}
main{
    width: 100%;
    height: auto;
    align-items: center;
}

.header-placeholder {
    height: 100px;
}


header {
    text-align: center;
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: #016a7e;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

header img{
    width: 10%;
}

header h1 {
    color: white;
    font-weight: 40px;
    text-align: center;
    margin-left: 30%;
}

#busqueda{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    background-color: #016a7e;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}

#busqueda input{
    width: 90%;
    border: 1px solid #222222;
}

 #busqueda button{
    width: 6%;
    background-color: white;
    border: 1px solid #222222;
}

#busqueda svg{
    margin: 0 auto;
}

#busqueda button:hover{
    color: #016a7e;
    transition: all 0.5s ease-in-out;
}

#busqueda button:not(hover){
    transition: all 0.5s ease-in-out;
}

#results{
    display: block;
}

#cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

#cards div{
    border: 1px solid black;
    border-radius: 50px;
    width: 20%;
    overflow: hidden;
    background-color: white;
    margin: 1%;
}

#cards div img{
    width: 100%;
}

#cards div h3{
    text-align: center;
    font-weight: 20px;
    color: black;
}

#cards div button{
    width: 100%;
    height: auto;
    background-color: #016a7e;
    color: white;
    border: 1px  solid #222222;
    border-radius: 10px;
}

#cards div:hover{
    box-shadow: 0 0 10px 0 rgb(0,0,0,0.7);
    transition: all 0.5s ease-in-out;
}

#cards div:not(hover){
    transition: all 0.5s ease-in-out;
}

#results h2 {
    text-align: center;
    font-weight: 25px;
    color: white;
}

#welcome{
    margin: 0 auto;
    margin: 5% 20%;
    height: 30%;
    text-align: center;
    background-color: #016a7e;
    border-radius: 10px;
    padding: 2%;
    display: block;
}

#welcome h2{
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: white;
}

#welcome p{
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: white;
}

#descripcion-place{
    display: none;
    background-color: #016a7e;
    border-radius: 10px;
    margin: 2%;
    padding: 1%;
}

#descripcion{
    background-color: white;
    padding: 2%;
    margin: 2%;
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-areas: 
    ". . boton" 
    "imagen titulo ." 
    "imagen descripcion ."
    "ingredientes descripcion .";
    align-items: center;
}

#descripcion img{
    grid-area: imagen;
    width: 50%;
    margin: 0 auto;
}

#descripcion h2{
    grid-area: titulo;
    text-align: center;
    font-weight: 30px;
    color: black;
}

#descripcion p{
    grid-area: descripcion;
    text-align: center;
    font-weight: 20px;
    color: black;
}

#descripcion ul{
    grid-area: ingredientes;
    text-align: center;
    font-weight: 20px;
    color: black;
}

#descripcion ul li{
    list-style: none;
}

#descripcion button{
    grid-area: boton;
    width: 150%;
    background-color: #016a7e;
    color: white;
    border: 1px solid #222222;
    border-radius: 10px;
    margin: 0 auto;
}

footer{
    width: 100%;
    height: auto;
    background-color: #016a7e;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}    

footer img{
    width: 10%;
}

footer p{
    color: white;
    font-weight: 20px;
    text-align: left ;
    margin-right: 30%;
}

#footer-placeholder {
    height: 80px;
}

